<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- parameterType 은 안 써도 되지만 쓰는게 좋다
        BoardRepository 와 맞춰야 한다 (만약 Repository 에서 id 를 넘기면 Mapper 에 parameterType 은 Long) -->
<!-- 아래 keyProperty 는 DB 에서 id (10번 줄) -->
<!-- 아래 useGeneratedKeys="true" keyProperty="id" 를 추가하면 id 값을 자동으로 채워준다 (파일 첨부할 때 필요) (10번 줄) -->
<!-- findById 에서 board_table 과 board_file_table 조인(join) (24~25번 줄)-->
<mapper namespace="Board">
    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into board_table(boardWriter, boardPass, boardTitle, boardContents, fileAttached)
            values (#{boardWriter}, #{boardPass}, #{boardTitle}, #{boardContents}, #{fileAttached})
    </insert>
    <insert id="saveFile" parameterType="board">
        insert into board_file_table(originalFileName, storedFileName, boardId)
            values (#{originalFileName}, #{storedFileName}, #{id})
    </insert>
    <select id="findAll" resultType="board">
        select * from board_table
    </select>
    <update id="updateHits" parameterType="Long">
        update board_table set boardHits = boardHits + 1 where id=#{id}
    </update>
    <select id="findById" parameterType="Long" resultType="board">
        select * from board_table where id=#{id}
    </select>
    <select id="findByIdFile" parameterType="Long" resultType="board">
        select * from board_table b, board_file_table bf where b.id=bf.boardId and b.id=#{id}
    </select>
    <update id="update" parameterType="board">
        update board_table set boardTitle=#{boardTitle}, boardContents=#{boardContents} where id=#{id}
    </update>
    <delete id="delete" parameterType="Long">
        delete from board_table where id=#{id}
    </delete>
</mapper>